@charset "UTF-8";
.hd { width: 1400px; height: 40px; padding-top: 20px; padding-bottom: 10px; margin: auto; } 
.hd_wrap {width: 100%;}
.tnb { float:right; margin: 5px; position:relative;}
.tnb ul li{display:inline;}
.tnb a { padding: 1em; color: #222;}
.tnb .li .imge { display: block; width: 15px; height: 13px;}